
@using Entities;
@using PL.pages;
@using DependencyResolver;
@{
    Layout = "~/pages/_basicLayout.cshtml";
    var bll = Resolver.bll;

    UserContainer.currentUser = bll.GetUserInfo();

    var currentUser = UserContainer.currentUser;

    string message = null;

    string tag = Request.QueryString["id"];
    var success = Int32.TryParse(tag, out int carId);

    if (success)
    {
        CarContainer.currentCar = currentUser.CarsList.FirstOrDefault(wantedCar => wantedCar.id == carId);
    }

    var carToDisplay = CarContainer.currentCar;

    var mileageToSet = Request["mileAgeDelta"];
    int newMileage;

    if (IsPost)
    {
        if (int.TryParse(mileageToSet, out newMileage))
        {
            int.TryParse(mileageToSet, out newMileage);
            if (newMileage < carToDisplay.totalMileage)
            {
                message = "Текущий пробег не может быть меньше предыдущего.";
            }
            else if (newMileage > carToDisplay.totalMileage)
            {
                message = null;

                bll.RfreshCarMileage(carToDisplay.id, newMileage);
                Response.Redirect("~/pages/carinfo.cshtml?id=" + @carToDisplay.id);
            }
            else
            {
                message = "Непредвиденная ошибка";

            }
        }
    }
}
<section id="carinfo">
    <p>
        <h2>@carToDisplay.fullName</h2>
        <span>Общий пробег: </span><span>@carToDisplay.totalMileage</span><span> км</span>

    </p>
    <form action="~/pages/carinfo.cshtml?id=@carToDisplay.id" method="post">
        <input type="number" name="mileAgeDelta" placeholder="Текущий пробег" />
        <button type="submit">обновить пробег</button>
    </form>
    @if (message != null)
    {
        <p id="warning">@message</p>
    }
    <p>
        <h3>Масло</h3>
        <span>До следующей замены масла</span>
        @if (carToDisplay.nextOilRefresh > 200)
        {
            <span>@carToDisplay.nextOilRefresh</span><span> км</span>
        }
        else
        {
            <strong>Замените масло!</strong>
        }
        <br>
    </p>
    <form action="~/pages/serviceTheUnit.cshtml" method="get">
        <input type="hidden" name="action" value="0" />
        <button type="submit">проведена замена масла</button>
    </form>

    <p>
        <h3>Привод ГРМ</h3>
        <span>Ресурс до замены: </span>
        @if (carToDisplay.remainingTimingDriveRes > 5000)
        {
            <span>@carToDisplay.remainingTimingDriveRes</span><span> км</span>
        }
        else
        {
            <strong>Узел требует ремонта!</strong>
        }
        <br>
    </p>
    <form action="~/pages/serviceTheUnit.cshtml" method="get">
        <input type="hidden" name="action" value="1" />
        <button type="submit">Проведено техобслуживание</button>
    </form>

    <p>
        <h3>Силовая установка</h3>
        <span>Ресурс до обслуживания: </span>
        @if (carToDisplay.remainingEngineRes > 10000)
        {
            <span>@carToDisplay.remainingEngineRes</span><span> км</span>
        }
        else
        {
            <strong>Узел требует ремонта!</strong>
        }
        <br>
    </p>
    <form action="~/pages/serviceTheUnit.cshtml" method="get">
        <input type="hidden" name="action" value="2" />
        <button type="submit">Проведено техобслуживание</button>
    </form>

    <p>
        <h3>КПП</h3>
        <span>Ресурс до замены: </span>
        @if (carToDisplay.remainingGearboxRes > 10000)
        {
            <span>@carToDisplay.remainingGearboxRes</span><span> км</span>
        }
        else
        {
            <strong>Узел требует ремонта!</strong>
        }
        <br>
    </p>
    <form action="~/pages/serviceTheUnit.cshtml" method="get">
        <input type="hidden" name="action" value="3" />
        <button type="submit">Проведено техобслуживание</button>
    </form>

    <p>
        <h3>Детали подвески</h3>
        <span>Ресурс до замены: </span>
        @if (carToDisplay.remainingSuspensionRes > 5000)
        {
            <span>@carToDisplay.remainingSuspensionRes</span><span> км</span>
        }
        else
        {
            <strong>Узел требует ремонта!</strong>
        }
        <br>
    </p>
    <form action="~/pages/serviceTheUnit.cshtml" method="get">
        <input type="hidden" name="action" value="4" />
        <button type="submit">Проведено техобслуживание</button>
    </form>

    <p>
        <h3>Рулевое управление</h3>
        <span>Ресурс до замены: </span>
        @if (carToDisplay.remainingSteeringRes > 5000)
        {
            <span>@carToDisplay.remainingSteeringRes</span><span> км</span>
        }
        else
        {
            <strong>Узел требует ремонта!</strong>
        }

        <br>
    </p>
    <form action="~/pages/serviceTheUnit.cshtml" method="get">
        <input type="hidden" name="action" value="5" />
        <button type="submit">Проведено техобслуживание</button>
    </form>

    <p>
        <h3>Тормозная система</h3>
        <span>Ресурс до замены: </span>
        @if (carToDisplay.remainingBrakesRes > 5000)
        {
            <span>@carToDisplay.remainingBrakesRes</span><span> км</span>
        }
        else
        {
            <strong>Узел требует ремонта!</strong>
        }
        <br>
    </p>
    <form action="~/pages/serviceTheUnit.cshtml" method="get">
        <input type="hidden" name="action" value="6" />
        <button type="submit">Проведено техобслуживание</button>
    </form>
</section>

<section id="mycars">
    <h2>Мой гараж:</h2>
    @{
        foreach (Car car in currentUser.CarsList)
        {
            CarContainer.currentCar = car;
            @RenderPage("~/pages/_UserGarage.cshtml")
        }
        CarContainer.currentCar = carToDisplay;
    }
    <button id="addCarToGarage" onclick="show()">добавить</button>
</section>


